body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  text-align: center;
  margin-top:5%;
  
  
}

h1 {
  font-size: 5rem;
  text-align: center;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
 color:midnightblue;
}

@media (max-width: 680px) {
  
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
 
}
.container1{
  display:inline-flex;
  gap:3rem;
  align-items:center;
  flex-wrap:wrap;
  justify-content:center;
 


  
}
#logo{
  width:7rem;
  border-radius:50%;

}
a{
  text-align:center;
  align-items:center;
  text-decoration: none;
  color:black;
  font-family: "Poppins";
  
}




.button-18 {
  align-items: center;
  background-color: midnightblue;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
 
  
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
.logo{
  flex:1;
}

.image1{
  width:20rem;
  height:15rem;
}

.under{
  display:flex;
  gap:40px;
  text-align: center;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  flex-wrap:nowrap;
 
}
@media (max-width:980px){
  .under{
    
    
    
    flex-direction:column; 
  }
}
img.image1{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
.testing1{
width:100rem;
justify-content: center;
}

.test2{
  height: 500px;
  
  background-image: url(https://images.pexels.com/photos/1438761/pexels-photo-1438761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 );
  background-blend-mode:multiply;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  display:flex;
  flex-direction: column;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

}
.hh2{
  color:rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 50px;
  text-align: center;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  
 
 
  
}
@media (max-width:980px){
  .hh2{
    font-size:27px;
  }
  }
.Header{
  flex-shrink:1;
  
}
#accordionExample{
  margin-top:5%;
}
.accordion-header{
  color:blue;
}
.FAQ{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:5%;
  

}